body{	
	-webkit-perspective:1000px;
}
.image{
	float :left;
	
	background-color:green;
	padding:10px 10px 10px 10px;
	border: 1px dashed black;
	margin: 300px 0 100px 0;
	outline: 10px solid red;
}

#left{
	margin-left: 300px;
	-webkit-transform:rotateY(30deg);
}
	#left:hover{
		
	}

#right{
	-webkit-transform:rotateY(-30deg);
}

#right:hover{
	
}